*{
  margin: 0;
  padding: 0;
  /* outline: 1px solid rgb(139, 139, 69); */

  font-family: 微軟正黑體;
}
h1{
  display: none;
}
a{
  cursor: pointer;
}

/* -----link-navbar----- */
.link-navbar{
  min-width: 900px;
  text-align: right;

  font-size: 0;
  background-color: #f6f6f6;
}
.link-navbar-container{
  margin: 0 auto;
  width: 1000px;
}
.link-navbar a{
  margin: 5px 0;
}
.link-navbar a:hover{
  text-decoration: underline;
}
.link-navbar a:nth-child(1){
  display: inline-block;

  color: #4460a0;
  font-size: 16px;
}
.link-navbar a:nth-child(2){
  display: inline-block;

  color: #00aaec;
  font-size: 16px;
}
.link-navbar a+a{
  margin-left: 10px;
}
i{
  font-size: 16px;
}

/* -----header----- */
header{
  min-width: 900px;
  font-size: 0;
}
.header-container{
  margin: 0 auto;
  padding-top: 8px;
  width: 1000px;
  text-align-last: justify;
}
.header-container>a{
  display: inline-block;
  vertical-align: middle;
}
nav{
  display: inline-block;
  vertical-align: middle;
}
nav a{
  display: inline-block;
  border-bottom: transparent solid 3px;
  padding: 10px 10px;
  text-decoration: none;

  color: #00cc99;
  font-size: 18px;

  transition: ease-in-out 0.3s;
}
nav a:hover{
  border-bottom: #00cc99 solid 3px;

  transition: ease-in-out 0.3s;
}
nav a+a{
  margin-left: 15px;
}

/* -----banner----- */
.banner{
  margin-bottom: 30px;
  min-width: 900px;

  font-size: 0;
}
.banner-container{
  position: relative;
  margin: 0 auto;
  width: 1000px;
}
.banner-text{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.banner-text span{
  display: block;
  margin-left: 30px;

  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
}
.banner-text-container{
  padding: 30px 0;
  width: 1000px;

  background-color: rgba(0, 0, 0, 0.219);
}

/* -----main----- */
main{
  margin-bottom: 50px;
  min-width: 900px;

  font-size: 0;
}
.main-container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1000px;
}
section{
  margin: 15px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 3px 3px 1px rgba(66, 66, 66, 0.2);
}
h3{
  margin: 7px 0;
  text-align: center;

  font-size: 21px;
}
p{
  margin: 10px 20px 15px 20px;

  font-size: 16px;
  line-height: 24px;
}
.li-container{
  margin-bottom: 0;
}
li{
  margin-left: 20px;

  font-size: 16px;
}

/* -----table----- */
.table{
  margin-bottom: 50px;
  min-width: 900px;

  font-size: 0;
}
.table-container{
  margin: 0 auto;
  width: 1000px;
}
.table-container h2{
  margin-bottom: 20px;

  text-align: center;
  font-size: 25px;
}
table{
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 10px; 

  text-align: left;
}
th{
  border-top: 0.3px rgb(128, 128, 128) solid;

  background-color: #f6f6f6;
  font-size: 16px;
}
th, td{
  border-bottom: 0.3px rgb(128, 128, 128) solid;
  padding: 6px 30px;
}
td{
  padding-right: 110px;

  font-size: 16px;
}
.highlight-text{
  color: #00cc99;
}

/* -----form----- */
.form{
  margin-bottom: 50px;
  min-width: 900px;

  font-size: 0px;
}
.form-container{
  margin: 0 auto;
  width: 1000px;

  text-align: center;
  font-size: 16px;
  background: linear-gradient(#00654c,#009771);
}
.form-title{
  margin-bottom: 20px;
  padding-top: 30px;
}
.form-content{
  padding-bottom: 30px;
  width: 100%;
}
.form-container h2{
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}
textarea{
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
}
.form-input{
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  width: 50%;

  text-align: left;
}
.form-input span{
  display: block;
  margin-bottom: 5px;

  color: #ffffff;
}
.form-input input{
  display: block;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
}
.form-input>div{
  margin-bottom: 10px;
}
.submit-button{
  display: flow-root;
  float: right;
}
input[type=submit]{
  width: 60px;

  color: #ffffff;
  background-color: #00cc99;
}

/* -----footer----- */
footer{
  min-width: 900px;

  font-size: 0px;
}
.footer-container{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 15px 30px 15px;
  width: 1000px;
  text-align-last: justify;
}
.footer-logo{
  display: inline-block;
  vertical-align: middle;
}
.contact-content{
  display: inline-block;
  vertical-align: middle;

  font-size: 12px;
}
.contact-content div{
  text-align-last: left;
}
.contact-content>div:nth-child(1){
  margin-bottom: 5px;
}
.contact-content a{
  display: inline-block;

  color: #e55995;
}