*{
  margin: 0;
  padding: 0;
  /* outline: 1px solid rgb(139, 139, 69); */

  font-family: 微軟正黑體;
  font-size: 0;
}
h1{
  display: none;
}
a{
  cursor: pointer;
}

/* -----link-navbar----- */
.link-navbar{
  min-width: 900px;
  text-align: right;

  font-size: 0;
  background-color: #f6f6f6;
}
.link-navbar-container{
  margin: 0 auto;
  width: 1000px;
}
.link-navbar a{
  margin: 5px 0;
}
.link-navbar a:hover{
  text-decoration: underline;
}
.link-navbar a:nth-child(1){
  display: inline-block;

  color: #4460a0;
  font-size: 16px;
}
.link-navbar a:nth-child(2){
  display: inline-block;

  color: #00aaec;
  font-size: 16px;
}
.link-navbar a+a{
  margin-left: 10px;
}
i{
  font-size: 16px;
}

/* -----header----- */
header{
  min-width: 900px;
  font-size: 0;
}
.header-container{
  margin: 0 auto;
  padding-top: 8px;
  width: 1000px;
  text-align-last: justify;
}
.header-container>a{
  display: inline-block;
  vertical-align: middle;
}
nav{
  display: inline-block;
  vertical-align: middle;
}
nav a{
  display: inline-block;
  border-bottom: transparent solid 3px;
  padding: 10px 10px;
  text-decoration: none;

  color: #00cc99;
  font-size: 18px;

  transition: ease-in-out 0.3s;
}
nav a:hover{
  border-bottom: #00cc99 solid 3px;

  transition: ease-in-out 0.3s;
}
nav a+a{
  margin-left: 15px;
}

/* -----banner----- */
.banner{
  margin-bottom: 30px;
  min-width: 900px;
}
.banner-container{
  position: relative;
  margin: 0 auto;
  width: 1000px;
}
.banner-text{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.banner-text span{
  display: block;
  margin-left: 30px;

  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
}
.banner-text-container{
  padding: 30px 0;
  width: 1000px;

  background-color: rgba(0, 0, 0, 0.219);
}

/* -----main----- */
main{
  margin-bottom: 50px;
  min-width: 900px;
}
.main-container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1000px;
}
section{
  margin: 15px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 3px 3px 1px rgba(66, 66, 66, 0.2);
}
h3{
  margin: 7px 0;
  text-align: center;

  font-size: 21px;
}
p{
  margin: 10px 20px 15px 20px;

  font-size: 16px;
  line-height: 24px;
}
.li-container{
  margin-bottom: 0;
}
li{
  margin-left: 20px;

  font-size: 16px;
}

/* -----table----- */
.table{
  min-width: 900px;
}
.table-container{
  margin: 0 auto;
  width: 1000px;
}
h2{
  margin-bottom: 20px;
  text-align: center;

  font-size: 25px;
}
table{
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 10px; 
}
tr:nth-child(1) td{
  border-top: 0.3px rgb(128, 128, 128) solid;
}
td{
  border-bottom: 0.3px rgb(128, 128, 128) solid;

  font-size: 16px;
}
td + td{
  margin-left: 40px;
}
.highlight-text{
  color: #00cc99;
}
.row-title-text{
  font-weight: 900;
}