*{
  margin: 0;
  padding: 0;
  outline: 1px solid rgb(139, 139, 69);

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  display: none;
}
a{
  cursor: pointer;
}

/* -----link-navbar----- */
.link-navbar{
  min-width: 900px;
  text-align: right;

  font-size: 0;
  background-color: #f6f6f6;
}
.link-navbar-container{
  margin: 0 auto;
  width: 1000px;
}
.link-navbar a{
  margin: 5px 0;
}
.link-navbar a:hover{
  text-decoration: underline;
}
.link-navbar a:nth-child(1){
  display: inline-block;

  color: #4460a0;
  font-size: 16px;
}
.link-navbar a:nth-child(2){
  display: inline-block;

  color: #00aaec;
  font-size: 16px;
}
.link-navbar a+a{
  margin-left: 10px;
}

/* -----header----- */
header{
  min-width: 900px;
  font-size: 0;
}
.header-container{
  margin: 0 auto;
  width: 1000px;
  text-align-last: justify;
}
.header-container>a{
  display: inline-block;
  vertical-align: middle;
}
nav{
  display: inline-block;
  vertical-align: middle;
}
nav a{
  display: inline-block;
  border-bottom: transparent solid 3px;
  padding: 10px 10px;
  text-decoration: none;

  color: #00cc99;
  font-size: 18px;
}
nav a:hover{
  border-bottom: #00cc99 solid 3px;
}
nav a+a{
  margin-left: 35px;
}